<div class="wrapper">
  <div class="container">
    <div class="main-container">
      <div class="box1"  routerLink="/list-request">
        <p class="top-p">Request Tool</p>
        <p class="bottom-p">12</p>
      </div>
      <div class="box2">
        <p class="top-p">List Request</p>
        <p class="bottom-p">46</p>
      </div>
      <div class="box3">
        <p class="top-p">Summary</p>
        <p class="bottom-p">456</p>
      </div>
    </div>
  </div>
  <!-- <app-footer></app-footer> -->
  <!-- <div class="wrapper">
  <div class="container">
    <div class="main-container">
      <div class="box1">
        <p class="top-p">Request Gauge</p>
        <p class="bottom-p">123</p>
      </div>
      <div class="box2">
        <p class="top-p">Issue Gauge</p>
        <p class="bottom-p">456</p>
      </div>
      <div class="box3">
        <p class="top-p">Return Gauge</p>
        <p class="bottom-p">789</p>
      </div>
    </div>
    <div class="main-container">
      <div class="box4">
        <p class="top-p">Set Master Gauge</p>
        <p class="bottom-p">101</p>
      </div>
      <div class="box5">
        <p class="top-p">History</p>
        <p class="bottom-p">202</p>
      </div>
      <div class="box6">
        <p class="top-p">Summary</p>
        <p class="bottom-p">303</p>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div> -->
</div>
