<div class="wrapper">
  <div class="container">
    <h1>Form Request Gauge</h1>
    <form action="SEND ADDRESS" id="ft-form" method="POST" accept-charset="UTF-8" enctype="multipart/form-data">
      <fieldset>
        <div class="two-cols">
          <label>
            Division
            <div class="custom-select">
              <mat-select [(value)]="selectedDivision">
                <mat-option *ngFor="let division of divisions" [value]="division.division">
                  {{ division.viewDivision }}
                </mat-option>
              </mat-select>
            </div>
          </label>
          <label>
            Fac
            <div class="custom-select">
              <mat-select [(value)]="selectedFac">
                <mat-option *ngFor="let fac of facs" [value]="fac.fac">
                  {{ fac.viewValue }}
                </mat-option>
              </mat-select>
            </div>
          </label>
        </div>
      </fieldset>
      <fieldset>
        <div class="two-cols">
          <label>
            Part No *
            <input type="text" name="partNo" placeholder="Enter part number" required />
          </label>
          <label>
            Rev Part *
            <input name="revPart" placeholder="Drawing" required />
          </label>
        </div>
        <div class="two-cols">
          <label>
            MC Group
            <input type="text" name="mcGroup" placeholder="Enter Machine Group Name" required />
          </label>
          <label>
            MC.No
            <input type="text" name="mcNo" placeholder="Machine Number" required />
          </label>
        </div>
        <div class="two-cols">
          <label>
            Process
            <div class="custom-select">
              <mat-select [(value)]="selectedProcess">
                <mat-option *ngFor="let process of processes" [value]="process.process">
                  {{ process.viewProcess }}
                </mat-option>
              </mat-select>
            </div>
          </label>
          <label>
            Section
            <input type="time" name="section" required />
          </label>
        </div>
        <div class="two-cols">
          <label>
            Use for
            <div class="custom-select">
              <mat-select [(value)]="selectedUseFor">
                <mat-option *ngFor="let useFor of useFors" [value]="useFor.useFor">
                  {{ useFor.viewUseFor }}
                </mat-option>
              </mat-select>
            </div>
          </label>
          <label>
            Date of Req.
            <input type="date" name="dateOfReq" required />
          </label>
        </div>

      </fieldset>
      <div class="btns">
        <button type="submit" class="sub-button">Add to List ➤</button>
        <input class="red-button" type="button" value="Clear" />
      </div>
    </form>


    <div class="table-container">
      <h3 style="text-align: center; font-weight: 900; font-size: 18px;">Your Request</h3>

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
        <!-- No. Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- Part No Column -->
        <ng-container matColumnDef="PartNo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Part No </th>
          <td mat-cell *matCellDef="let element"> {{element.PartNo}} </td>
        </ng-container>

        <!-- Rev Column -->
        <ng-container matColumnDef="Rev">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Rev </th>
          <td mat-cell *matCellDef="let element"> {{element.Rev}} </td>
        </ng-container>

        <!-- Process Column -->
        <ng-container matColumnDef="process">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Process </th>
          <td mat-cell *matCellDef="let element"> {{element.process}} </td>
        </ng-container>

        <!-- Division Column -->
        <ng-container matColumnDef="Division">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Division </th>
          <td mat-cell *matCellDef="let element"> {{element.Division}} </td>
        </ng-container>

        <!-- Fac Column -->
        <ng-container matColumnDef="Fac">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Fac </th>
          <td mat-cell *matCellDef="let element"> {{element.Fac}} </td>
        </ng-container>

        <!-- MC Group Column -->
        <ng-container matColumnDef="MCGroup">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> MC Group </th>
          <td mat-cell *matCellDef="let element"> {{element.MCGroup}} </td>
        </ng-container>

        <!-- Mc No Column -->
        <ng-container matColumnDef="McNo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Mc No </th>
          <td mat-cell *matCellDef="let element"> {{element.McNo}} </td>
        </ng-container>

        <!-- UseFor Column -->
        <ng-container matColumnDef="UseFor">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> UseFor </th>
          <td mat-cell *matCellDef="let element"> {{element.UseFor}} </td>
        </ng-container>

        <!-- Require Date Column -->
        <ng-container matColumnDef="RequireDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Require Date </th>
          <td mat-cell *matCellDef="let element"> {{element.RequireDate}} </td>
        </ng-container>

        <!-- Request by Column -->
        <ng-container matColumnDef="reqby">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Request by </th>
          <td mat-cell *matCellDef="let element"> {{element.reqby}} </td>
        </ng-container>

        <!-- Delete Button Column -->
        <ng-container matColumnDef="setgauge">
          <th mat-header-cell *matHeaderCellDef> Delete </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="onDelete(element)">
              <i class="fas fa-trash-alt delete-icon"></i>
            </button>
          </td>
        </ng-container>
         <!-- <ng-container matColumnDef="detleteReq">
          <th mat-header-cell *matHeaderCellDef>Detial</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="warn" (click)="onDelete(element)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container> -->


        <!-- Table rows -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>



    </div>
    <div class="btns">
      <button type="submit" class="sub-button">Submit ➤</button>
    </div>
  </div>

</div>
