<div class="wrapper">
  <div class="container">
    <h1>Form Request</h1>

    <form [formGroup]="requestForm" (ngSubmit)="onSubmit()">
      <fieldset>
        <div class="two-cols">
          <label>
            Part No *
            <input type="text" formControlName="PartNo" (ngModelChange)="getProcess()" placeholder="Enter part number" required />
            <div *ngIf="partNoSuggestions.length > 0">
              <ul>
                <li *ngFor="let partNo of partNoSuggestions">{{ partNo }}</li>
              </ul>
            </div>
          </label>

          <label>
            Process
            <div class="custom-select">
              <mat-select formControlName="Process" (ngModelChange)="getMC()">
                <mat-option *ngFor="let option of processOptions" [value]="option">
                  {{ option }}
                </mat-option>
              </mat-select>
            </div>
          </label>

          <label>
            MC
            <div class="custom-select">
              <mat-select formControlName="MC">
                <mat-option *ngFor="let mc of MCOptions" [value]="mc">
                  {{ mc }}
                </mat-option>
              </mat-select>
            </div>
          </label>
        </div>
      </fieldset>

      <div class="btns">
        <button type="submit" class="sub-button">Show Item</button>
        <input class="red-button" type="button" value="Clear" (click)="requestForm.reset()" />
      </div>
    </form>

  </div>
</div>
