<div class="wrapper">
  <div class="container">
    <h1>Form Request</h1>
    <form action="" id="ft-form" method="POST" accept-charset="UTF-8" enctype="multipart/form-data">
      <fieldset>
        <div class="two-cols">
          <label>
            Division
            <div class="custom-select">
              <mat-select [(value)]="selectedDivision">
                <mat-option *ngFor="let division of divisions" [value]="division.division">
                  {{ division.viewDivision }}
                </mat-option>
              </mat-select>
            </div>
          </label>
          <label class="partNO">
            Part No *
            <input type="text" name="partNo" placeholder="Enter part number" required />
          </label>
          <label>
            Process
            <div class="custom-select">
              <mat-select [(value)]="selectedProcess">
                <mat-option *ngFor="let process of processes" [value]="process.process">
                  {{ process.viewProcess }}
                </mat-option>
              </mat-select>
            </div>
          </label>
        </div>
      </fieldset>
      <fieldset>
        <div class="two-cols">
          <label>
            M/C Type
            <input type="text" placeholder="M/C Type" required />
          </label>
          <label>
            M/C No.
            <input type="text" name="mcNo" placeholder="Machine Number" required />
          </label>

          <label>
            Rev Part *
            <input name="revPart" placeholder="Drawing" required />
          </label>
        </div>

        <div class="two-cols">
          <label>
            Case
            <div class="custom-select">
              <mat-select [(value)]="selectedCase">
                <mat-option *ngFor="let Case of Cases" [value]="Case.Case">
                  {{ Case.viewCase }}
                </mat-option>
              </mat-select>
            </div>
          </label>
          <label>
            Date of Req.
            <input type="date" name="dateOfReq" required />
          </label>


        </div>


      </fieldset>
      <div class="btns">
        <button type="submit" class="sub-button">Show Item</button>
        <input class="red-button" type="button" value="Clear" />
      </div>
    </form>


    <div class="table-container">
      <h3 style="text-align: center; font-weight: 900; font-size: 18px">
        Your Request
      </h3>
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
          <!-- Checkbox Column -->
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle() : null"
                [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()" aria-label="Select all rows"></mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)" aria-label="Select row {{ row.No }}"></mat-checkbox>
            </td>
          </ng-container>

          <!-- Other columns -->
          <ng-container matColumnDef="No">
            <th mat-header-cell *matHeaderCellDef>No.</th>
            <td mat-cell *matCellDef="let element">{{ element.No }}</td>
          </ng-container>

          <ng-container matColumnDef="PartNo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Part No</th>
            <td mat-cell *matCellDef="let element">{{ element.PartNo }}</td>
          </ng-container>

          <ng-container matColumnDef="Process">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Process</th>
            <td mat-cell *matCellDef="let element">{{ element.Process }}</td>
          </ng-container>

          <ng-container matColumnDef="McType">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>McType</th>
            <td mat-cell *matCellDef="let element">{{ element.McType }}</td>
          </ng-container>

          <ng-container matColumnDef="ItemNo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Item No</th>
            <td mat-cell *matCellDef="let element">{{ element.ItemNo }}</td>
          </ng-container>

          <ng-container matColumnDef="ToolingSpec">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>ToolingSpec</th>
            <td mat-cell *matCellDef="let element">{{ element.ToolingSpec }}</td>
          </ng-container>

          <ng-container matColumnDef="Usage">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Usage</th>
            <td mat-cell *matCellDef="let element">{{ element.Usage }}</td>
          </ng-container>

          <ng-container matColumnDef="Qty">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Qty</th>
            <td mat-cell *matCellDef="let element">{{ element.Qty }}</td>
          </ng-container>

          <ng-container matColumnDef="Result1">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Result1</th>
            <td mat-cell *matCellDef="let element">{{ element.Result1 }}</td>
          </ng-container>

          <ng-container matColumnDef="Result2">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Result2</th>
            <td mat-cell *matCellDef="let element">{{ element.Result2 }}</td>
          </ng-container>

          <ng-container matColumnDef="Result3">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Result3</th>
            <td mat-cell *matCellDef="let element">{{ element.Result3 }}</td>
          </ng-container>

          <ng-container matColumnDef="Result4">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Result4</th>
            <td mat-cell *matCellDef="let element">{{ element.Result4 }}</td>
          </ng-container>

          <ng-container matColumnDef="Result5">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Result5</th>
            <td mat-cell *matCellDef="let element">{{ element.Result5 }}</td>
          </ng-container>

          <ng-container matColumnDef="Result6">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Result6</th>
            <td mat-cell *matCellDef="let element">{{ element.Result6 }}</td>
          </ng-container>

          <!-- Table rows -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
    </div>

    <div class="btns">
      <button type="submit" class="sub-button">Submit ➤</button>
    </div>
  </div>

</div>
